{% extends 'base.html' %}

{% block title %}Senha Redefinida{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Senha Redefinida</h2>
            </div>
            <div class="card-body">
                <p>Sua senha foi redefinida com sucesso. Agora você pode fazer login com sua nova senha.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Ir para o Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
