{% extends 'base.html' %}

{% block title %}{{ vinil.titulo }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        {% if vinil.imagem_capa %}
            <img src="{{ vinil.imagem_capa.url }}" class="img-fluid rounded" alt="{{ vinil.titulo }}">
        {% else %}
            <div class="d-flex justify-content-center align-items-center rounded bg-secondary text-white" style="height: 400px;">
                <span>Sem Imagem</span>
            </div>
        {% endif %}
    </div>
    <div class="col-md-8">
        <h1>{{ vinil.titulo }}</h1>
        <h3>{{ vinil.artista }}</h3>
        <p class="text-muted">Lançado em: {{ vinil.ano_lancamento }}</p>
        <hr>
        <h4>Descrição</h4>
        <p>{{ vinil.descricao|linebreaksbr }}</p>
        <hr>
        <a href="{% url 'catalog:vinil_update' vinil.pk %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'catalog:vinil_delete' vinil.pk %}" class="btn btn-danger">Excluir</a>
        <a href="{% url 'catalog:vinil_list' %}" class="btn btn-secondary">Voltar para a Coleção</a>
    </div>
</div>
{% endblock %}
